{% extends 'base.html.twig' %}

{% block body %}
    {% if repositoryName is not defined %}
        <h1>Repository<b>{{ repositoryName }}</b> does not exist!</h1>
    {% else %}
        <h1>{{ repositoryName }}</h1>
        <table  class="table table-striped">
            <thead>
            <tr>
                <th>Author</th>
                <th>Message</th>
                <th>Sha</th>
            </tr>
            </thead>
            <tbody>
            {% for commit in repositoryCommitsInfo %}
                <tr>
                    <td> {{ commit.author }} </td>
                    <td> {{ commit.message }} </td>
                    <td> {{ commit.shortSha }} </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}